/* =================
common css start   
==================== */
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px ;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.dm{
    font-family: 'DM Sans', sans-serif;
}
.flex{
    display: flex;
}
span{
    display: inline-block;
}
/* =================
common css end
==================== */
/* =================
navber css start
==================== */

nav {

    background-color: white;
}
nav .logo{
    width: 20%;
    
}
nav .navitems {
    width: 60%;
    justify-content: center;
    display: flex;
    
}
nav .navitems ul{
    column-gap: 40px;
}
nav .navitems ul li:first-child{
    font-weight: 700;
}
nav .demo{
    width: 20%;
    
}
.navber-first{
    padding: 32px 0;
}
.navber-bottom{
    background-color: #F5F5F3;
    padding: 25px 0;
    align-items: center;
}
.navber-bottom .category {
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
}
.navber-bottom .category .before {
    position: relative;
    padding-left: 45px;
}

.navber-bottom .category .before::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #262626;
}
.navber-bottom .category .before::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 16px;
    height: 3px;
    background-color: #262626;
}

.navber-bottom .search{
    width: 60%;
  
}
.navber-bottom .search-box{
    position: relative;
    width: 601px;
    margin: auto; 
}
.navber-bottom .search i {
    position: absolute;
    top: 17px;
    right: 21px;

}
.navber-bottom .search input {
    width: 601px;
    padding: 18px 21px;
    border: 0;
    color: #C4C4C4;
    font-size: 14px;
}
.navber-bottom .search input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
}
.navber-bottom .icon {
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 42px;
    cursor: pointer;
    justify-content: flex-end;
}
.navber-bottom .icon .left{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.navber-bottom .icon img.dot{
    width: 10px;
  
}

/* =================
Navber css end  
==================== */

.error{
    padding-top: 81px;
    padding-bottom: 140px;
}
.left{
    width: 644px;
}
.error h2{
    font-size: 200px;
}
.error p{
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    line-height: 30px;
    margin-bottom: 50px;
}

.error .search{
    width: 60%;
  
}
.error .search-box{
    position: relative;
    width: 601px;
    margin: auto; 
}
.error .search i {
    position: absolute;
    top: 17px;
    right: 21px;

}
.error .search input {
    width: 601px;
    padding: 18px 21px;
    border: 1px solid #F0F0F0;
    color: #C4C4C4;
    font-size: 14px;
}
.error .search input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
}

.error a{
    width: 200px;
    padding: 16px 0;
    background: #262626;
    color: white;
    text-align: center;
    margin-top: 60px;
 
}




/* =================
footer css start
==================== */
footer{
    background: #F5F5F3;
    padding: 55px 0;
}
footer .footeritems{
    display: flex;
    column-gap: 144px ;
   
}

footer .footeritems .item h4{
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: 700;
}
footer .footeritems .item ul li{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6D6D6D;
}

footer .footeritems .item p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}
footer .footeritems .logo{
    margin: 0 auto;
}
footer .footeritems .item span{
    color: #6D6D6D;
}
footer .footer-bottom {
    padding-top: 65px;
    
}
footer .footer-bottom .flex{
    justify-content: space-between;
}
footer .footer-bottom .left .flex{
    column-gap: 26px;
}
footer .footer-bottom .right p{
    color: #6D6D6D;


}

/* =================
Footer css end
==================== */