

.error{
    padding-top: 81px;
    padding-bottom: 140px;
}
.error .left{
    width: 644px;
}
.error h2{
    font-size: 200px;
}
.error p{
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    line-height: 30px;
    margin-bottom: 50px;
}

.error .search{
    width: 60%;
  
}
.error .search-box{
    position: relative;
    width: 601px;
    margin: auto; 
}
.error .search i {
    position: absolute;
    top: 17px;
    right: 21px;

}
.error .search input {
    width: 601px;
    padding: 18px 21px;
    border: 1px solid #F0F0F0;
    color: #C4C4C4;
    font-size: 14px;
}
.error .search input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
}

.error a{
    width: 200px;
    padding: 16px 0;
    background: #262626;
    color: white;
    text-align: center;
    margin-top: 60px;
 
}


