/* =================
common css start   
==================== */
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px ;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.dm{
    font-family: 'DM Sans', sans-serif;
}
.flex{
    display: flex;
}
span{
    display: inline-block;
}
/* =================
common css end
==================== */
/* =================
navber css start
==================== */

nav {

    background-color: white;
}
nav .logo{
    width: 20%;
    
}
nav .navitems {
    width: 60%;
    justify-content: center;
    display: flex;
    
}
nav .navitems ul{
    column-gap: 40px;
}
nav .navitems ul li:first-child{
    font-weight: 700;
}
nav .demo{
    width: 20%;
    
}
.navber-first{
    padding: 32px 0;
}
.navber-bottom{
    background-color: #F5F5F3;
    padding: 25px 0;
    align-items: center;
}
.navber-bottom .category {
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
}
.navber-bottom .category .before {
    position: relative;
    padding-left: 45px;
}

.navber-bottom .category .before::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #262626;
}
.navber-bottom .category .before::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 16px;
    height: 3px;
    background-color: #262626;
}

.navber-bottom .search{
    width: 60%;
  
}
.navber-bottom .search-box{
    position: relative;
    width: 601px;
    margin: auto; 
}
.navber-bottom .search i {
    position: absolute;
    top: 17px;
    right: 21px;

}
.navber-bottom .search input {
    width: 601px;
    padding: 18px 21px;
    border: 0;
    color: #C4C4C4;
    font-size: 14px;
}
.navber-bottom .search input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
}
.navber-bottom .icon {
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 42px;
    cursor: pointer;
    justify-content: flex-end;
}
.navber-bottom .icon .left{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.navber-bottom .icon img.dot{
    width: 10px;
  
}

/* =================
Navber css end  
==================== */
/* =================
aboutimg css start 
==================== */
#aboutimg .title {
    margin-top: 70px;
    margin-bottom: 70px;
}
#aboutimg .title h2{
    font-size: 49px;
    margin-bottom: 12px;
}
#aboutimg .title ul{
    display: flex;
    column-gap: 12px;
    margin-top: 20px;
}
#aboutimg .title ul li img{
    width: 10px;
}
#aboutimg .img{
    display: flex;
    column-gap: 40px;
}
#aboutimg .img .left{
    background: url("../shopimages/11.png") bottom no-repeat;
    background-size: cover;
    width: 50%;
    height: 773px;
    padding-bottom: 62px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#aboutimg .img .left a{
    width: 281px;
    background: #262626;
    font-weight: 700;
    font-size: 16px;
    padding: 28px;
    color: white;
    text-align: center;
    
}
#aboutimg .img .right a{
    width: 281px;
    background: #262626;
    font-weight: 700;
    font-size: 16px;
    padding: 28px;
    color: white;
    text-align: center;
}
#aboutimg .img .right{
    background: url("../shopimages/10.png") bottom no-repeat;
    background-size: cover;
    width: 50%;
    height: 773px;
    padding-bottom: 62px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#aboutimg .bottomtext p{
    font-size: 39px;
    color: #262626;
    line-height: 52px;
    margin-top: 128px;
    margin-bottom: 118px;
}
#aboutimg .story {
    display: flex;
    column-gap: 40px;
    margin-bottom: 131px;
}
#aboutimg .story .item {
    width: 32%;
}
#aboutimg .story .item h4{
    font-size: 25px;
    font-weight: 700;
}
#aboutimg .story .item p{
    font-size: 16px;
    line-height: 30px;
    color: #767676;
    margin-top: 12px;
}
/* =================
aboutimg css end 
==================== */
/* =================
footer css start
==================== */
footer{
    background: #F5F5F3;
    padding: 55px 0;
}
footer .footeritems{
    display: flex;
    column-gap: 144px ;
   
}

footer .footeritems .item h4{
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: 700;
}
footer .footeritems .item ul li{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6D6D6D;
}

footer .footeritems .item p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}
footer .footeritems .logo{
    margin: 0 auto;
}
footer .footeritems .item span{
    color: #6D6D6D;
}
footer .footer-bottom {
    padding-top: 65px;
    
}
footer .footer-bottom .flex{
    justify-content: space-between;
}
footer .footer-bottom .left .flex{
    column-gap: 26px;
}
footer .footer-bottom .right p{
    color: #6D6D6D;

}

/* =================
Footer css end
==================== */