
.title {
    margin-top: 125px;
    margin-bottom: 57px;
    
}
 .title h2{
    font-size: 49px;
    margin-bottom: 12px;
}
 .title ul{
    display: flex;
    column-gap: 12px;
    margin-bottom: 130px;
}
 .title ul li img{
    width: 10px;
}
.title p{
    width: 644px;
    color: #767676;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 62px;
}


.first p{
    font-size: 16px;
    color: #767676;
}
.first span{
    color: #262626;
    margin-bottom: 120px;
}


/* ===========
form css start
============== */
.billing form{
    width: 1055px;
}
.billing form h2{
    font-size: 39px;
    margin-bottom: 42px;
}
.billing form label{
    display: block;
    font-size: 16px;
    font-weight: 700;
}
.billing form input {
    border: 0;
    border-bottom: 1px solid #F0F0F0;
    width: 100%;
    padding: 18px 0;
    margin-bottom: 25px;
}
.billing form #first, #lastname{
    width: 507px;
}
.billing form .flex{
    column-gap: 40px;
}
.billing form input::placeholder{
    font-size: 14px;

}
.billing form .Country{
    position: relative;
}
.billing form .Country i {
    position: absolute;
    bottom: 35px;
    right: 3px;
    color: #767676;
}
.information{
    margin-bottom: 130px;
    border-bottom: 1px solid #F0F0F0;

}
.information h2{
    font-size: 39px;
    margin-bottom: 40px;
    margin-top: 130px;
}
.information h4{
    font-size: 16px;
    margin-bottom: 14px;
}
.information p{
    color: #767676;
    font-size: 14px;
    padding-bottom: 88px;
}
.order {
    margin-bottom: 60px;
}
.order h2{
    font-size: 39px;
    margin-bottom: 48px;
}
.order .product .item {
    display: flex;
    align-items: center;
}
.order .product .item .inner-item{
    width: 320px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 1px solid #F0F0F0;
}
.ash h4{
    color: #767676;
    font-weight: 400;
}
.bank {
    height: 380px;
    border: 1px solid #F0F0F0;
    padding: 30px 0;
    box-sizing: border-box;
    padding-left: 34px;
    width: 1053px;
    margin-bottom: 140px;
}
.bank .firstbank {
    display: flex;
    margin-bottom: 15px;
}
.bank .firstbank p{
    color:#262626;
    font-weight: 700;
    margin-left: 12px;
   
}
.bank .bank-box {
    background: #F7F8F9;
    padding: 20px 30px;
    position: relative;
    margin-top: 32px;
}
.bank .bank-box::before {
    content: "";
    position: absolute;
    top: -28%;
    left: 1%;
    z-index: -1;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 31px 46px 31px;
    border-color: transparent transparent #F7F8F9 transparent;
    transform: rotate(0deg);
}
.bank .secondbank{
    display: flex;
    margin-top: 26px;
}
.bank .secondbank p{
    
    margin-left: 12px;
    font-weight: 700;
    color: #767676;
    
    
}
.bank .lastpera p span{
    color: #262626;
}
.bank .lastpera p{
    font-size: 16px;
    color: #767676;
    line-height: 30px;
    margin-top: 15px;
}
.bank a{
    margin-top: 24px;
    width: 200px;
    background: #262626;
    color: white;
    padding: 16px 0;
    text-align: center;
    
}
